<!DOCTYPE html>
<html>
    <head>
        <title>Daniel's blog</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/stylesheets/website.css">
        <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700" rel="stylesheet">
        <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
    </head>
    <body>
<div class="container">
    <nav>
        <ul class="nav-items">
            <li class="nav-item brand">
                <a id="special" href="/">DanielDuong</a>
            </li>
            <li class="nav-item align-right">
                <a href="/contact">contact</a>
            </li>
            <li class="nav-item align-right">
                <a href="/blog">blog</a>
            </li>
            <li class="nav-item align-right">
                <a href="/projects">projects</a>
            </li>
            <li class="nav-item align-right">
                <a href="/about">about</a>
            </li>
        </ul>
    </nav>
    <div class="directory">
        <a href="/">Home</a> / <a href="<% query %>"><%= url.substring(1).charAt(0).toUpperCase() + url.substring(2) %></a>
    </div>
</div>