<% include partials/header %>

<div class="container">
    <h1>About page</h1>
    <p>
        Hello, my name is Daniel Duong. I am an aspiring programmer
        in Orange County, California. I graduated with a B.S. in
        Mechanical Engineering at University of California, Irvine
        in Winter of 2018. During my journey there, I've come to learn
        that I like programming a lot. I hope to become a backend or
        full stack developer and obtain a Masters degree in Computer
        Science.
    </p>
    <p>
        In my free time, I enjoy playing board games, deep sea fishing,
        watching The Office or Parks & Rec on Netflix, and browsing
        Reddit. Some of my favorite board games include Settlers of Catan,
        Coup, One Night Werewolf, etc. 
    </p>
</div>

<% include partials/footer %>