<% include partials/header %>

<div class="container">
    <h1>About me</h1>
    <div class="about">
        <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo enim nulla. Vestibulum vel magna vel ante tempus faucibus. Cras scelerisque justo ut iaculis scelerisque. In lacinia eget lacus id feugiat. In fermentum tincidunt orci, id condimentum erat suscipit eu. Donec eu lacinia erat. Nunc non tellus at ipsum dictum cursus. Integer consequat vel orci at pharetra.
        </div>
        <div>
            <img src="https://images.unsplash.com/photo-1469938945416-24ed556bbaff?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=64f7b937b3245941c984a83fdec3f0ae&auto=format&fit=crop&w=700&q=60">
        </div>
    </div>
</div>

<% include partials/footer %>