<% include partials/header %>

<div class="container">
    <h1>About</h1>
    <div class="about collapse">
        <div class="justify">
            <p class="about-blurb">
                Hi there! My name is Daniel and my goal is to become a software developer.   
            </p>
            <p>
                I studied Mechanical Engineering at <a class="links" href="https://uci.edu/">University of California, Irvine</a>.
                Now, I want to pursue a career in programming. I am teaching myself computer science and plan to attend graduate school.
            </p>
            <p>
                Stay tuned as my journey unfolds.
           </p>
        </div>
        <div class="item-2">
            <div class="image-wrap">
                <img class="slide-show" src="https://i.imgur.com/1oiIeQd.jpg?2">
                <img class="slide-show" src="https://i.imgur.com/Zrhyo06.jpg?3">
                <img class="slide-show" src="https://i.imgur.com/mdznByu.jpg?6">
                <img class="slide-show" src="https://i.imgur.com/NVJpe5r.jpg?3">
            </div>
            <div class="arrows">
                <button onClick="changeIndex(-1)">
                    <i class="fas fa-chevron-left"></i>
                </button>
                <button onClick="changeIndex(1)">
                    <i class="fas fa-chevron-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<% include partials/footer %>

<script>
    var photoIndex = 0;
    showPicture(0);
    removeColumns();
    function changeIndex(change) {
        photoIndex += change;
        showPicture(photoIndex);
    }
    
    function showPicture(x) {
        var photoNodeList = document.querySelectorAll("img");
        var numPhotos = photoNodeList.length;
        if(x > numPhotos - 1) {photoIndex = 0;}
        if(x < 0) {photoIndex = numPhotos - 1;}
        photoNodeList.forEach(photo => photo.style.display="none");
        photoNodeList[photoIndex].style.display = "block";
    }
    
    function removeColumns() {
        var selectAbout = document.querySelector(".about");
        if(window.innerWidth < 768) {
            selectAbout.classList.remove("collapse");
        } else {
            selectAbout.classList.add("collapse");
        }
    }
    window.addEventListener("resize", removeColumns); 
</script>