<% include partials/header %>
<div class="container contact">
    <h1>Contact Me</h1>
    <div>
       <i class="fas fa-envelope"></i> <input type="text" id="email" value="danielvanduong@gmail.com" readonly="readonly"></input><button id="btnClick"><i class="far fa-copy"></i> <span id="copyFlash">Copy</span></button>
    </div>
    <div>
        <i class="fas fa-phone"></i> (714) 858-7068
    </div>
    <div>
        <i class="fab fa-linkedin"></i><a class="linkedin" target="_blank" href="https://www.linkedin.com/in/daniel-duong-50853510a">LinkedIn</a>
    </div>
    <div>
        <i class="fab fa-github"></i><a class="linkedin" target="_blank" href="https://github.com/duongdv95">Github</a>
    </div>
</div>
<% include partials/footer %>

<script>
    $("#btnClick").click(function() {
        var email = document.getElementById("email");
        document.getElementById("copyFlash").textContent = "Copied!";
        email.select();
        document.execCommand("Copy");
    });
</script>