<!DOCTYPE html>
<html>
    <head>
        <title>Daniel Duong</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/home.css">
        <link rel="shortcut icon" type="image/x-icon" href="https://i.imgur.com/2NNlmZx.png">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    </head>
    <body>

<div class="home-header">
    <h1>Daniel Duong</h1>
    <a href="/about">about</a>
    <a href="/projects">projects</a>
    <a href="/blog">blog</a>
    <a href="/contact">contact</a>

</div>
    </body>
</html>