<!DOCTYPE html>
<html>
    <head>
        <title>Daniel's blog</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/home.css">
    </head>
    <body>

<div class="home-header">
    <h1>Daniel Duong</h1>
    <a href="/about">about</a>
    <a href="/projects">projects</a>
    <a href="/blog">blog</a>
    <a href="/contact">contact</a>

</div>
<% include partials/footer %>