<% include partials/header %>
<div class="container">
    <h1>Projects <a class="git" href="https://github.com/duongdv95"><i class="fab fa-github"></i></a></h1>
    I'm currently working on a <a class="links" href="https://github.com/duongdv95/trello-clone">Trello Clone</a>. I created a basic looking front end that's functional. You can create lists and
    add cards to each list. The cards can be dragged from one list to another and deleted. In order to finish this project, I need to finish the backend for the data to persist. This led to
    a mini <a class="links" href="https://github.com/duongdv95/node-database-practice">project</a> where I am learning how to use mysql with node js. 
    <p>Snap shot of trello clone below.</p>
    <img src="https://i.imgur.com/MecfRx0.png">
</div>
<% include partials/footer %>