<% include partials/header %>
<div class="container">
    <h1>Projects <a class="git" href="https://github.com/duongdv95"><i class="fab fa-github"></i></a></h1>
    Coming soon?
</div>
<% include partials/footer %>