:root {
    --textFont: 1.4rem;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 500px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 830px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 830px;
  }
}

/*NAVBAR STYLE*/
.navbar {
    white-space: nowrap;
    font-size: 1.3rem;
    display: grid;
    grid-template-columns: 1fr auto;
}

.right {
    grid-column-start: 2;
    grid-column-end: 3;
}

.nav-item a {
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
    text-align: center;
    
}

div.nav-item {
    display: inline-block;
}

.brand {
    font-weight: 700;

}

.brand a {
    padding-left:0;
    padding-right:0;
    display: inline-block;
}

.nav-item a:hover {
    background-color: #555;
    color: white;
}
/*Style every page*/
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    font-family: 'Noto Serif', serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.footer {
    grid-row-start: 3;
    grid-row-end: 4;
    padding-bottom: 50px;
}
h1 {
    font-size: 2.8rem;
    text-align: center;
    margin: 0.9rem;
    white-space: nowrap;
}

/*edit.ejs style*/
input, textarea {
    display: block;
}

/*index.ejs style*/
.index td {
    padding: .25rem .7rem;
    white-space:nowrap;
}

.index table, td {
    border: 1px solid #cce6ff;
    
}

.index table {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
}

.post-title {
    width: 100%;
}

.index tr:nth-child(odd) {
    background-color: #e6f2ff;
}

.index {
    line-height: 2;
}

.index table a {
    text-decoration: none;
    color: blue;
}

.index table a:visited {
    color: blue;
}

.index a:hover {
    background-color: #ffffcc;
}

.index a {
    color: black;
    text-decoration: none;
}

/*Fixes delete position in show.ejs*/
#delete {
    display:inline;
}

/*project.ejs style*/
.git {
    color: black;
}

/*header.ejs*/
.directory {
    background-color: #f2f2f2;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}
.directory a {
    text-decoration: none;
    color: black;
    display: inline-block;
}

.directory a:hover {
    background-color: #ffffcc;
}

/*contact.ejs*/
.contact div {
    font-size: var(--textFont);
    padding: 10px;
    /*text-align: center;*/
}
.center {
    width: 440px;
    margin: 0 auto;
}
.contact a {
    text-decoration: none;
    color: black;
}


.contact button {
    display:inline-block;
}

.linkedin:hover {
    background-color: #ffffcc;
}

.contact input {
    display: inline-block;
    width: 265px;
}

.contact input, button {
    font-size: 1.3rem;
}

#btnClick {
    padding-right: 15px;
}
/*about.ejs*/
.about {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 15px;
    font-size: var(--textFont);
}

.about .image-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 225px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.arrows {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px
}

/*login/register*/

.admin {
    width: 200px;
    margin: 0 auto;
}

/*show.ejs*/
.show button a {
    text-decoration: none;
    color: black;
}