.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 500px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 830px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 830px;
  }
}

/*NAVBAR STYLE*/

.nav-items {
    list-style-type:none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    font-size: 1.3rem;
}

.nav-item a {
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
    text-align: center;
    
}

li.nav-item {
    display: inline-block;
}

.align-right {
    float: right;
}

.brand {
    font-weight: 700;
}

#special {
    padding-left:0;
    padding-right:0;
}

.nav-item a:hover {
    background-color: #555;
    color: white;
}
/*Style every page*/
html, 
body {
    height: 100%;
    margin: 0;
    font-family: 'Noto Serif', serif;
}
h1 {
    font-size: 2.8rem;
    text-align: center;
    margin: 1.3rem;
}

/*edit.ejs style*/
input, textarea {
    display: block;
}

/*index.ejs style*/
.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 500px;
}

.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    position: relative;
    z-index: -1;
}

/*Fixes delete position in show.ejs*/
#delete {
    display:inline;
}

/*project.ejs style*/
.git {
    color: black;
}

/*header.ejs*/
.directory {
    background-color: #f2f2f2;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}
.directory a {
    text-decoration: none;
    color: black;
    display: inline-block;
}

.directory a:hover {
    background-color: #ffffcc;
}

/*contact.ejs*/
.contact div {
    font-size: 1.5rem;
    padding: 10px;
    /*text-align: center;*/
}
.center {
    width: 440px;
    margin: 0 auto;
}
.contact a {
    text-decoration: none;
    color: black;
}


.contact button {
    display:inline-block;
}

.linkedin:hover {
    background-color: #ffffcc;
}

.contact input {
    display: inline-block;
    width: 265px;
}

.contact input, button {
    font-size: 1.3rem;
}

#btnClick {
    padding-right: 15px;
}
/*about.ejs*/
.about {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-gap: 15px;
    font-size: 1.5rem;
}

.about img {
    position: relative;
    height: 300px;
    width: 300px;
    border-radius: 20%;
    margin-left: auto;
    margin-right: auto;
    display: none;
    margin-bottom: 5px;
}

.about .active-photo {
    display: block;
}

.arrows {
    width: 200px;
    margin: 0 auto;
    text-align: center;
}