<% include ../partials/header %>
<div>
    <h1>My Blog</h1>
</div>
<!--<div class="container">-->
    <% blogs.forEach(function(post){ %>
        <div class="fill">
            <img src="<%= post.image %>">
        </div>
        <strong><%= post.title %></strong>
        <div>
            <a href="/blog/<%= post._id %>">Read More</a>
        </div>

    <% }); %>
    <div>
        <a href="blog/new">New Post</a>
    </div>
    
<!--</div>-->

<% include ../partials/footer %>